$bg: #F6FCFF;
$default: #054569;
$nav-txt: #404448;
$nav-button: #0F5174;
$nav-button-hover: #3a7fa5;
$footer-button: #195376;
$footer-button-hover: #1d618b;
$footer-bottom: #195376;
$feature-block: #E7F5FF;